@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  --select-color: rgb(156, 163, 175);
}

::selection{
  color: var(--select-color);
}

body{
  margin: 0;
  padding: 0;
  background-image: url(pattern.png);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pp-box{
  max-width: 460px;
  background-color: #111;
  color: #fff;
  font-family: 'Inter';
  padding: 60px 30px;
}

.pp-text{
  padding: 0 20px;
  height: 400px;
  overflow-y: auto;
  font-size: 13px;
  font-weight: 500;
  color: #f1f1f1;
  font-weight: 400;
}

.pp-text::-webkit-scrollbar{
  width: 5px;
  background-color: #282828;
}

.pp-text::-webkit-scrollbar-thumb{
  background-color: #737070;
}

.pp-text h1 {
  font-weight: 600;
  text-align: center;
}

.pp-text h2 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.pp-box h4{
  font-size: 13px;
  text-align: center;
  padding: 0 40px;
}

.pp-box h4 span{
  color: red;
}

.buttons{
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
}

.btn{
  height: 50px;
  width: calc(50% - 6px);
  border: 0;
  border-radius: 6px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  transition: .5s linear;
  cursor: pointer;
}

.red-btn{
  background-color: red
}

.gray-btn{
  background-color: gray;
}

.btn:hover{
  opacity: .6;
}